.mobile,
header .menu.mobile,
header .header_icon.mobile {
    display: none;
}

@media (max-width: 1150px) {
    footer .contacts {
        gap: 20px;
    }

    footer .footer-menu {
        gap: 20px;
    }

    section {
        padding: 0 20px;
    }

    .grid3__text {
        text-shadow: 1px 1px 1px black;
    }

    main section.cols3 .grid3__text--center {
        padding: 0;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 768px) {
    header nav.menu button {
        display: none;
    }

    main section.cols3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 34px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        width: 100%;
    }

    footer {
        margin: 72px auto 0 auto;
        position: relative;
    }

    .footer-menu-wrap {
        display: grid;
        gap: 20px 0;
    }

    footer .social {
        position: absolute;
        right: 20px;
        top: 36px;
    }

    header .header_icon p {
        display: none;
    }

    .logo {
        margin: 0;
    }
}

@media (max-width: 550px) {
    section {
        padding: 0 10px;
    }

    footer .footer-menu {
        gap: 5%;
    }

    h1 {
        margin: 25px 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }

    header section.over-header {
        display: none;
    }

    header .header-butons form.desktop {
        display: none;
    }

    header .header_icon.desktop {
        display: none;
    }

    header nav.menu.desktop {
        display: none;
    }

    header .menu.mobile {
        display: flex;
    }

    header .header_icon.mobile {
        display: block;
    }

    .mobile {
        display: block;
    }

    header .header-butons {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    footer {
        gap: 12px;
        margin: 48px auto 0 auto;
    }

    .sub-footer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
    }

    footer .social {
        position: inherit;
    }

    footer .gray {
        margin: 32px 0 0 0;
    }

    .footer-menu-wrap {
        display: block;
    }

    footer .footer-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 18px 0;
    }

    footer .contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    footer .contacts>* {
        width: 100%;
    }

    main section.cols3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 34px;
    }

    main section.cols3 {
        gap: 18px;
    }

    main section.cols3 .grid3__text h3 {
        font-size: 16px;
        line-height: 20px;
    }

    main section.cols3 .grid3__text.grid3__text--left {
        padding: 20px 0 20px 20px;
        max-width: 200px;
    }

    main section.cols3 .grid3__text p {
        margin: 5px 0 0 0;
    }
}